drupal/sites/default/local_settings.php
drupal/sites/*/files
drupal/sites/*/private
drupal/sites/all/modules/imagemanager/logs
drupal/sites/all/modules/filemanager/logs
.buildpath
.project
.tmproj
.settings
db
*~
compass_app_log.txt
.sass-cache
compass_generated_stylesheets
# compass generated sprites
*-s[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f].png
.DS_Store
